extends layout

block content
  #home.section
    .container
      .row.text-center
        h1 
          | I am joepower
          br
          | And I am a Web Developer
        a.btn.btn-default.btn-lg(href="#profile") learn more
  #profile.section.profile-top.bg-info
    .container
      .row.text-center
        h1 Welcome to my Web
        h3 Now you see me
        img.img-circle(src="http://graph.facebook.com/wowJoepower/picture?width=180")
  .section.profile-bottom
    .container
      .row.text-center
        .col-md-4
          span.glyphicon.glyphicon-heart.img-circle
          h3 為什麼我喜歡程式
          h4.text-muted 因為我喜歡程式
        .col-md-4
          span.glyphicon.glyphicon-music.img-circle
          h3 為什麼我喜歡音樂
          h4.text-muted 因為我喜歡音樂
        .col-md-4
          span.glyphicon.glyphicon-apple.img-circle
          h3 為什麼我喜歡蘋果
          h4.text-muted 因為我喜歡蘋果
  #skills.section
    .container
      .row
        h1 Skills
        .col-md-6
          h3.text-muted
            |我的興趣源自於學校 homepage 的課程，讓我覺得網路很有趣。
        .col-md-6
          .progress
            .progress-bar.progress-bar-success(role="progressbar" style="width: 70%")
              | HTML 7/10
          .progress
            .progress-bar.progress-bar-success(role="progressbar" style="width: 70%")
              | CSS 7/10
          .progress
            .progress-bar.progress-bar-success(role="progressbar" style="width: 70%")
              | JS 7/10
  #contact.section
    .container
      .row.text-center
        h1 打招呼
        h4.text-muted 如果你有任何問題，我會回答你
        form.form-horizontal(action="/contact" method="post" role="form")
          .col-md-1
          .col-md-3
            .form-group
              .col-md-12
                input.form-control(name="name" type="text" placeholder="Name")
            .form-group
              .col-md-12
                input.form-control(name="email" type="email" placeholder="Email")
          .col-md-6
            .form-group
              .col-md-12
                textarea.form-control(name="messqge" rows="4" placeholder="Message" required)
          .col-md-10
            input.btn.btn-success.pull-right(type="submit" value="送出")